params {
    config_profile_description = 'The UConn HPC profile'
    config_profile_contact     = 'noah.reid@uconn.edu'
    config_profile_url         = 'https://bioinformatics.uconn.edu/'
 
    // max resources
    max_memory                 = 1.TB
    max_cpus                   = 64
    max_time                   = 21.d
 
    // Path to shared singularity images
    singularity_cache_dir      = '/isg/shared/databases/nxf_mantis_singularity_cache'
 
}
 
process {
    executor                   = 'slurm'
    queue                      = { task.memory <= 500.GB ? 'general' : 'himem' }
 
    clusterOptions             = { task.memory <= 500.GB ? '--qos=general' : '--qos=himem' }
        
        withLabel: dorado {
        clusterOptions             = { task.memory <= 500.GB ? '--gres=gpu:A100:1 --qos=general' : '--gres=gpu:A100:1 --qos=himem' }
        cpus   = { check_max( 4    * task.attempt, 'cpus'    ) }
        memory = { check_max( 20.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 600.h  * task.attempt, 'time'    ) }
        errorStrategy = { task.exitStatus in [143, 255, 137, 64] ? 'retry' : 'terminate' }
        maxRetries = 10
        } // GPU label set for UCONN hpc, can be changed as needed. In future, would love to incorporate a param instead.
}
 
executor {
    name                       = 'slurm'
    submitRateLimit            = '2 sec'
    queueSize                  = 100
}
 
singularity {
    enabled                    = true
    cacheDir                   = params.singularity_cache_dir
    autoMounts                 = true
    conda.enabled              = false
}
